<body>
  <div class="cv-container" *ngIf="cvData">
      <div class="left-column">
          <img [src]="cvData.photo" alt="Profile Photo" class="profile-photo">
          <div class="name-title">
              <h1>{{ cvData.name }}</h1>
              <h2>{{ cvData.jobTitle }}</h2>
          </div>
          <section class="contact-info">
            <h3>Contact</h3>
            <p><i class="fas fa-envelope"></i> Email: <a [href]="'mailto:' + cvData.email">{{ cvData.email }}</a></p>
            <p><i class="fas fa-phone"></i> Phone: <a [href]="'tel:' + cvData.phone">{{ cvData.phone }}</a></p>
            <p><i class="fas fa-map-marker-alt"></i> Address: {{ cvData.address }}</p>

            <p *ngIf="cvData.github">
                <i class="fab fa-github"></i>
                <a [href]="cvData.github" target="_blank"> GitHub</a>
            </p>

            <p *ngIf="cvData.facebook">
                <i class="fab fa-facebook"></i>
                <a [href]="cvData.facebook" target="_blank"> Facebook</a>
            </p>

            <p *ngIf="cvData.instagram">
                <i class="fab fa-instagram"></i>
                <a [href]="cvData.instagram" target="_blank"> Instagram</a>
            </p>

            <p *ngIf="cvData.web">
                <i class="fas fa-globe"></i>
                <a [href]="cvData.web" target="_blank"> Website</a>
            </p>
        </section>

          <section class="education">
              <h3>Education</h3>
              <ul style="color: black;">
                  <li *ngFor="let edu of cvData.education">
                      <h4>{{ edu.degree }}</h4>
                      <p>{{ edu.institution }} - {{ edu.year }}</p>
                  </li>
              </ul>
          </section>

      </div>
      <div class="right-column">
          <section class="profile">
              <h3>About Me</h3>
              <p>{{ cvData.profileDescription }}</p>
          </section>
          <section class="experience">
              <h3>Work Experience</h3>
              <div *ngFor="let exp of cvData.experiences">
                  <h4>{{ exp.position }} - {{ exp.company }}</h4>
                  <p>{{ exp.date }}</p>
                  <p>{{ exp.description }}</p>
              </div>
          </section>
          <section class="skills">
              <h3>Skills</h3>
              <ul>
                  <li *ngFor="let skill of cvData.skills">{{ skill }}</li>
              </ul>
          </section>
          <section class="hobbies">
              <h3>Hobbies</h3>
              <p>{{ cvData.hobbies }}</p>
          </section>
      </div>
  </div>
</body>
