<body>
  <div class="cv-container" *ngIf="cvData">
      <div class="left-column">
          <img [src]="cvData.photo" alt="Profile Photo" class="profile-photo">
          <div class="name-title">
              <h1>{{ cvData.name }}</h1>
              <h2>{{ cvData.title }}</h2>
          </div>
          <section class="contact-info">
              <h3>Contact</h3>
              <p>Email: {{ cvData.email }}</p>
              <p>Phone: {{ cvData.phone }}</p>
              <p>Address: {{ cvData.address }}</p>
              <p *ngIf="cvData.github">
                <i class="fab fa-github"></i>
                <a [href]="cvData.github" target="_blank"> GitHub</a>
            </p>

            <p *ngIf="cvData.facebook">
                <i class="fab fa-facebook"></i>
                <a [href]="cvData.facebook" target="_blank"> Facebook</a>
            </p>

            <p *ngIf="cvData.instagram">
                <i class="fab fa-instagram"></i>
                <a [href]="cvData.instagram" target="_blank"> Instagram</a>
            </p>

            <p *ngIf="cvData.web">
                <i class="fas fa-globe"></i>
                <a [href]="cvData.web" target="_blank"> Website</a>
            </p>
          </section>
          <section class="education">
              <h3>Education</h3>
              <ul>
                  <li *ngFor="let edu of cvData.education">
                      <h4>{{ edu.degree }}</h4>
                      <p>{{ edu.institution }} - {{ edu.date }}</p>
                  </li>
              </ul>
          </section>
          <section class="languages">
              <h3>Languages</h3>
              <ul>
                  <li *ngFor="let language of cvData.languages">{{ language }}</li>
              </ul>
          </section>
      </div>
      <div class="right-column">
          <section class="profile">
              <h3>About Me</h3>
              <p>{{ cvData.profileDescription }}</p>
          </section>
          <section class="experience">
              <h3>Work Experience</h3>
              <div *ngFor="let exp of cvData.experiences">
                  <h4>{{ exp.title }} - {{ exp.company }}</h4>
                  <p>{{ exp.date }}</p>
                  <p>{{ exp.description }}</p>
              </div>
          </section>
          <section class="skills">
              <h3>Skills</h3>
              <ul>
                  <li *ngFor="let skill of cvData.skills">{{ skill }}</li>
              </ul>
          </section>

          <section class="hobbies">
              <h3>Hobbies</h3>
              <ul>
                  <li *ngFor="let hobby of cvData.hobbies">{{ hobby }}</li>
              </ul>
          </section>
      </div>
      <section class="portfolio">
        <h3>Portfolio (PDFs)</h3>
        <div *ngFor="let pdf of cvData.pdfFiles; let i = index" class="pdf-file">
          <p>{{ pdf.name }}</p>

          <!-- Create an iframe with a PDF icon centered inside it -->
          <a [href]="pdf.url" target="_blank" class="pdf-frame">
            <iframe [src]="pdf.url" class="pdf-iframe" frameborder="0"></iframe>
            <div class="pdf-icon">
              <img src="assets/pdf.png" alt="PDF Icon" class="pdf-thumbnail">
            </div>
          </a>
        </div>
      </section>
  </div>
</body>
