/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8794b8;
}

.container {
  width: 96%;
  margin: 20px auto;
  background: #ffffff00;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #002395;
}

/* Row Layout */
.row-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Data Navigation */
.data-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.data-display {
  text-align: center;
}

.nav-btn {
  background: #002395;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.nav-btn:hover {
  background: #0056b3;
}

/* Register Section */
.register-section {
  flex-grow: 1;
}

.register-card {
  background: #007ba075;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.register-title {
  text-align: center;
  color: #002395;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-weight: bold;
}

.register-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.coordinates {
  display: flex;
  gap: 10px;
}

.register-btn-container {
  text-align: center;
}

.register-btn {
  background: #1236d8;
  min-width: 100%;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.register-btn:hover {
  background: #C60C30;
}

/* Table Styles */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.styled-table th, .styled-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.styled-table th {
  background: #007ba0ad;
  color: white;
  cursor: pointer;
}

.styled-table tr:nth-child(even) {
  background: #f2f2f2;
}

.approve-btn {
  background: #ED2939;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.approve-btn:hover {
  background: #125305;
}

/* Search Input */
.search-input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
