<body>
  <div class="welcome-screen">
    <h1>Welcome to Shnell_CV</h1>
    <p>
      Create your professional CV effortlessly with our wide range of customizable templates.
      Choose from various styles to match your personal or professional brand.
    </p>
    <div class="contact-container">
      <a routerLink="/create"
         target="_blank" class="contact-btn">
        ➕ Add a CV & Contact: +216 94 190 332
      </a>
    </div>
  </div>

  <section class="cv-models">
    <h2>Select Your Perfect CV Model</h2>
    <p>
      Browse through our collection of beautifully designed CV templates. Whether you're looking for a modern,
      minimalistic, or creative layout, we have something for everyone.
    </p>
    <div class="model-grid">
      <div class="model" routerLink="/2/vSU1xDg6hKjC4Dhrb8W6">
        <img src="assets/model_1.png" alt="Model 1">
        <p>Professional CV Model</p>
      </div>
      <div class="model" routerLink="/1/vSU1xDg6hKjC4Dhrb8W6">
        <img src="assets/model_2.png" alt="Model 2">
        <p>Minimalistic CV Model</p>
      </div>
      <div class="model" routerLink="/3/vSU1xDg6hKjC4Dhrb8W6">
        <img src="assets/model_3.png" alt="Model 3">
        <p>Modern CV Model</p>
      </div>
    </div>

    <!-- Big Green Button -->

  </section>
</body>
